<table class="stats-table">
    <thead class="stats-table-header">
        <tr>
            <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
    </thead>
    <tbody class="stats-table-body">
        <tr>
            <td>Name Data</td>
            <td>2025</td>
            <td>Team Data</td>
            <td class="position">Position Data</td>
            <td>BA Data</td>
            <td>RBI Data</td>
            <td>OBP Data</td>
            <td>SLG Data</td>
            <td>OPS Data</td>
            <td>RC Data</td>
            <td>ISO Data</td>
            <td>wOBA Data</td>
            <td>wRC+ Data</td>
            <td>OPS+ Data</td>
            <td>BsR Data</td>
        </tr>
        <tr>
            <td>Name Data</td>
            <td>2025</td>
            <td>Team Data</td>
            <td class="position">Position Data</td>
            <td>BA Data</td>
            <td>RBI Data</td>
            <td>OBP Data</td>
            <td>SLG Data</td>
            <td>OPS Data</td>
            <td>RC Data</td>
            <td>ISO Data</td>
            <td>wOBA Data</td>
            <td>wRC+ Data</td>
            <td>OPS+ Data</td>
            <td>BsR Data</td>
        </tr>
        <tr>
            <td>Name Data</td>
            <td>2025</td>
            <td>Team Data</td>
            <td class="position">Position Data</td>
            <td>BA Data</td>
            <td>RBI Data</td>
            <td>OBP Data</td>
            <td>SLG Data</td>
            <td>OPS Data</td>
            <td>RC Data</td>
            <td>ISO Data</td>
            <td>wOBA Data</td>
            <td>wRC+ Data</td>
            <td>OPS+ Data</td>
            <td>BsR Data</td>
        </tr>
    </tbody>
</table>
